body{
	-webkit-font-smoothing: antialiased;
	@include box-sizing(border-box);
}

a {
	text-decoration:none;
}

header,
footer,
section{
	clear: left;
    width: 100%;
}

::-moz-selection {
    color: #ffffff;
    background: $accent2;
}
::selection {
    color: #ffffff;
    background: $accent2;
}

section {
	text-align:center;
	background-size:cover;
	background-position:top center;
}