///Break Points
$grid: 1400px;
$break: 1024px;
$tablet: 768px;
$handheld: 600px;
$mobile: 400px;
$iphone5: 320px;

///Fonts
$primart-font: 'Helvetica','Arial',sans-serif; 
$secondary-font: "Times New Roman", Times, serif;

///Colors
$primary-color:blue;
$secondary-color:red;

///Animation 
$duration:200ms;