.cta{
	padding:30px 0;
	text-align: center;
	h2,a {
		display: inline-block;
	}
	h2{
		font-weight: 600;
		font-size: 24px;
		color:$accent2;
	}
	a {
		margin-left: 10px;
		display: inline-block;
		text-transform: uppercase;
		@media screen and (max-width:$tablet){
			margin-top: 20px;
		}
	}
	&.style-2{
		padding:50px 0;
		.wrapper{
			max-width: 700px;
			margin:0 auto;
			h2 {
				margin:30px 0;
				color:#ffffff;
				font-style: normal;
				font-weight: normal;
				line-height: 28px;
			}
		}
	}
}