.fullscreen{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;	
    background-color: #000; 
    justify-content:center;
    .content{
    	z-index: 5;
    	position: relative;
    	padding:30px;
    	color:#ffffff;
    	img{
    		max-width: 950px;
    	}    	
    }
	video{
	    position: absolute;
	    left: 0;
	    top:0;
	    right:0;
	    margin: 0 auto;
	    width: 100%;
	    height: 100%;
		@media (min-aspect-ratio: 16/9) {
			height: 300%;
		    top: -100%;
		}
		@media (max-aspect-ratio: 16/9) {
		    width: 300%;
		    left: -100%;
		}  	    
	}
}